html{
    font-size: 62.5%;
}


body{
    font-family: 'Roboto', sans-serif;
    background: url(../../imgs/background.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




